.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  border: none;
  border-radius: 25px;
  /* margin: 24px, 48px; */
  background-color: #3e2881;
  color: #f3f0ff;
}

.selected {
  background-color: #2f9e44;
  color: #ebfbee;
}

.img {
  /* margin-left: 12px; */
  border-radius: 25px;
  height: 56px;
  width: 56px;
}
